@charset "UTF-8";
.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* hoặc 'normal' tùy vào trọng số mong muốn */
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

* {
  box-sizing: border-box;
  font-optical-sizing: auto;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

@keyframes slideBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.container {
  max-width: 1536px;
  padding-right: 13rem;
  padding-left: 13rem;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 540px;
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
}

.container-slider {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1536px) {
  .container-slider {
    width: 1120px;
  }
}
@media (max-width: 1280px) {
  .container-slider {
    width: 934px;
  }
}
@media (max-width: 1024px) {
  .container-slider {
    width: 736px;
  }
}
@media (max-width: 768px) {
  .container-slider {
    width: 608px;
  }
}
@media (max-width: 640px) {
  .container-slider {
    width: 516px;
  }
}
@media (max-width: 540px) {
  .container-slider {
    width: 100%;
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center top;
  background-image: url("../images/bg03.jpg");
  transition: background-image 1s ease-in-out;
  animation: slideBackground 20s infinite alternate linear;
  display: flex;
}
@media (max-width: 640px) {
  .header {
    flex-wrap: wrap;
  }
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.header__nav {
  position: fixed; /* Giữ thanh nav ở vị trí cố định trên màn hình */
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  z-index: 999;
}
.header__container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__container {
    width: 100%;
    display: none;
  }
}
.header__container-mobile {
  width: 100%;
  background-color: #FFFFFF;
}
.header__dynamic-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.header__left-arrow {
  position: absolute;
  top: 45%;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  left: 15px;
}
.header__left-arrow i {
  color: #FFFFFF;
}
.header__left-arrow:hover {
  background-color: #4F46E5;
  border-color: #4F46E5;
}
.header__right-arrow {
  right: 15px;
  position: absolute;
  top: 45%;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}
.header__right-arrow i {
  color: #FFFFFF;
}
.header__right-arrow:hover {
  background-color: #4F46E5;
  border-color: #4F46E5;
}
.header__logo {
  margin-inline-end: 15px;
  padding-inline-end: 15px;
}
.header__logo-img {
  font-size: 24px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 1px;
  width: auto;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  --webkit-box-pack: center;
  flex-grow: 1;
}
.header__buttons {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin-inline-start: 15px;
  padding-inline-start: 15px;
  gap: 8px;
}

.header-mobile__block {
  display: none;
  min-height: 74px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-mobile__block {
    display: flex;
  }
}
@media (max-width: 280px) {
  .header-mobile__block {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    display: block;
  }
}
.header-mobile__logo {
  position: relative;
}
.header-mobile__logo-img {
  height: 24px;
  width: auto;
}
.header-mobile__buttons {
  display: flex;
}
@media (max-width: 1024px) {
  .header-mobile__buttons {
    margin-left: auto;
  }
}
.header-mobile--circle-btn-setting {
  background-color: rgba(79, 70, 229, 0.1);
  border: 2px rgba(79, 70, 229, 0.1);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 12px;
  cursor: pointer;
}
.header-mobile--circle-btn-setting i {
  color: #4F46E5;
}
.header-mobile--circle-btn-setting:hover {
  background-color: black;
}
.header-mobile--circle-btn-shopping {
  background-color: #4F46E5;
  border: 2px rgba(79, 70, 229, 0.1);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 12px;
  cursor: pointer;
}
.header-mobile--circle-btn-shopping i {
  color: #FFFFFF;
}
.header-mobile--circle-btn-shopping:hover {
  background-color: black;
}
.header-mobile--circle-btn-bar {
  background-color: #FFFFFF !important;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 18px;
  width: 25px;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}
.header-mobile--circle-btn-bar span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: transform 0.3s;
}
.header-mobile--circle-btn-bar span:first-child {
  transform-origin: left;
}
.header-mobile--circle-btn-bar span:last-child {
  transform-origin: left;
}
.header-mobile--circle-btn-bar.rotate-open span:first-child {
  transform: rotate(40deg);
}
.header-mobile--circle-btn-bar.rotate-open span:nth-child(2) {
  display: none;
}
.header-mobile--circle-btn-bar.rotate-open span:last-child {
  transform: rotate(-40deg);
}

.mobile-menu {
  display: none;
  background: none;
  height: auto;
  /* Tạo thanh cuộn dọc khi cần thiết */
}
@media (max-width: 640px) {
  .mobile-menu {
    padding-left: 0;
    padding-right: 0;
  }
}
.mobile-menu__menu {
  max-height: 400px; /* Đặt chiều cao tối đa của menu */
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #e5e7eb;
}
.mobile-menu__submenu {
  height: auto;
  display: none;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  padding-left: 20px;
}
.mobile-menu__item {
  position: relative;
}
.mobile-menu__item:hover a {
  color: #4F46E5;
}
.mobile-menu__item:hover a .fa-angle-down {
  transform: rotate(-180deg);
}
.mobile-menu__link {
  display: flex;
  font-weight: bold;
  line-height: 24px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: inherit;
  color: rgb(79 70 229/var(--tw-text-opacity));
}
.mobile-menu__link i {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: smaller;
  transition: transform 0.3s ease;
}

.mobile-submenu__item {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 24px;
}
.mobile-submenu__link {
  display: flex;
  width: 100%;
  transition: all 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 11px;
  font-weight: 700;
  color: rgb(22, 28, 45) !important;
  text-decoration: inherit;
  align-items: center;
}
.mobile-submenu__link--title {
  color: rgb(148, 163, 184) !important;
  font-size: 0.75rem;
  font-weight: 700;
}
.mobile-submenu__link:hover {
  color: #4F46E5 !important;
}
.mobile-submenu__link:hover i {
  transform: rotate(-90deg);
}
.mobile-submenu__link i {
  font-size: smaller;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.mobile-submenu__text--green {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: green;
  color: #FFFFFF;
}
.mobile-submenu__text--red {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: red;
  color: #FFFFFF;
}
.mobile-submenu__text--yellow {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: rgb(234, 179, 8);
  color: #FFFFFF;
}
.mobile-submenu__text--black {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: black;
  color: #FFFFFF;
}

.header__nav.scrolled {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E5E7EB;
}
@media (max-width: 1024px) {
  .header__nav.scrolled {
    background-color: transparent;
    border: 0px;
  }
}
.header__nav.scrolled .menu__item {
  display: flex;
  align-items: center;
  position: relative;
}
.header__nav.scrolled .menu__link {
  color: #161C2D;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  padding: 25px 14px;
  text-transform: uppercase;
}
.header__nav.scrolled .menu__link:hover {
  color: #4F46E5;
}
.header__nav.scrolled .menu__link:hover i {
  color: #4F46E5;
}
.header__nav.scrolled .menu__text {
  font-size: 14px;
  padding-bottom: 2px;
}
.header__nav.scrolled .menu__arrow {
  color: #161C2D;
}
.header__nav.scrolled .header__buttons .btn-setting {
  background-color: rgba(79, 70, 229, 0.1);
}
.header__nav.scrolled .header__buttons .btn-setting i {
  color: #4F46E5;
}
.header__nav.scrolled .header__buttons .btn-shopping {
  background-color: #4F46E5;
}
.header__nav.scrolled .header__buttons .btn-shopping i {
  color: #FFFFFF;
}

.btn--circle-btn {
  background-color: #FFFFFF;
  border: none;
  border-radius: 9999px;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn--icon {
  color: black;
  line-height: 2.25rem;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.menu__link {
  min-height: 62px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5019607843);
  font-weight: 700;
  position: relative;
  padding: 25px 14px;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-decoration: inherit;
  letter-spacing: 1px;
}
.menu__text {
  font-size: 13px;
  padding-bottom: 2px;
}
.menu__arrow {
  color: rgba(255, 255, 255, 0.5019607843);
  position: absolute;
  right: 0;
  inset-inline-end: 0px;
  display: inline-block;
  transition-duration: 500ms;
  font-size: 0.5rem;
  line-height: 1.5rem;
}
.menu__icon {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.menu__submenu {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 74px;
  height: -moz-max-content;
  height: max-content;
  min-width: 180px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.menu__item:hover .menu__icon {
  transform: rotate(-180deg);
  color: #FFFFFF;
}
.scrolled .menu__item:hover .menu__icon {
  color: #4F46E5;
}
.scrolled .menu__item:hover .menu__icon:hover {
  color: #4F46E5;
}
.menu__item:hover .menu__submenu {
  display: block;
}
.menu__item:hover .menu__link {
  color: #FFFFFF;
}
.scrolled .menu__item:hover .menu__link {
  color: #4F46E5;
}
.scrolled .menu__item:hover .menu__link:hover {
  color: #4F46E5;
}
.menu__item:hover .submenu-row {
  display: flex;
}

.submenu__item {
  position: relative;
  list-style-type: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.submenu__item:hover .submenu__link {
  color: #4F46E5;
}
.submenu__item:hover .nested-menu {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
.submenu__link {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  color: black;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding-right: 20px;
}
.submenu__link i {
  position: absolute;
  right: 20px;
  font-size: smaller;
}
.submenu__nested-menu {
  display: none;
}

.submenu:hover {
  display: block;
}
.submenu:hover .submenu__item:hover .submenu__link {
  color: #4F46E5;
}

.nested-menu {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  min-width: 180px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 6px;
  z-index: 3;
  visibility: visible;
  margin-inline-start: 0px;
  opacity: 0;
  top: -5px;
  inset-inline-start: 101%;
  padding-inline-start: 0px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(20px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.nested-menu__item {
  position: relative;
  list-style-type: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.nested-menu__item:hover a {
  color: #4F46E5;
}
.nested-menu__link {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  color: black;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding-right: 20px;
}
.nested-menu__link:hover {
  color: #4F46E5;
}

.submenu-row {
  display: none;
  position: fixed;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  width: 1120px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .submenu-row {
    width: 934px;
  }
}
@media (min-width: 1280px) {
  .submenu-row {
    width: 1120px;
  }
}
.submenu-row__column {
  list-style-type: none;
}
.submenu-row__item {
  position: relative;
  list-style-type: none;
  width: 100%;
  padding: 12px;
}
.submenu-row__item:hover a {
  color: #4F46E5;
}
.submenu-row__link-title {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  color: #94A3B8;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.submenu-row__link {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  color: #161C2D;
  font-size: 11px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.submenu-row__text--green {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: green;
  color: #FFFFFF;
}
.submenu-row__text--red {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: red;
  color: #FFFFFF;
}
.submenu-row__text--yellow {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: rgb(234, 179, 8);
  color: #FFFFFF;
}
.submenu-row__text--black {
  margin-left: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: black;
  color: #FFFFFF;
}

.dynamic-content__title {
  display: flex;
  font-size: 48px;
  color: #FFFFFF;
  background-color: transparent;
  margin: 0 0 24px 0;
  z-index: 2;
}
.dynamic-content__text {
  width: 500px;
  color: #FFFFFF;
  font-size: 18px;
  background-color: transparent;
  z-index: 3;
}
@media (max-width: 1120px) {
  .dynamic-content__text {
    width: 80%;
    left: 80px;
    font-size: 15px;
  }
}
.dynamic-content__btn {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  background-color: #4F46E5;
  color: #FFFFFF;
  font-size: 16px;
  margin: 24px 0 0 0;
  z-index: 3;
}
@media (max-width: 1120px) {
  .dynamic-content__btn {
    width: 141.8px;
  }
}

.image-gallery {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #4F46E5;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .image-gallery {
    height: auto;
  }
}
.image-gallery__container {
  display: grid;
  height: auto;
  width: 100%;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 30px;
}
@media (max-width: 768px) {
  .image-gallery__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
  }
}
.image-gallery__item {
  grid-column: span 1;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.image-gallery__img {
  max-width: 100%;
  height: 1.5rem;
}
@media (max-width: 768px) {
  .image-gallery__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.business-overview {
  margin-top: 96px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
@media (max-width: 1024px) {
  .business-overview {
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .business-overview {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.business-overview__left {
  line-height: 1.5rem;
  grid-column: span 5;
  display: block;
  position: relative;
}
@media (max-width: 1024px) {
  .business-overview__left {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .business-overview__left {
    grid-column: span 12;
    height: auto;
    flex-direction: column;
    justify-content: left;
  }
}
.business-overview__right {
  height: auto;
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .business-overview__right {
    grid-column: span 12;
    justify-content: space-between;
  }
}
.business-overview__right-block {
  height: auto;
}
.business-overview__img-big {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.375rem;
  font-size: 1rem;
  z-index: 1;
  line-height: 1.5rem;
}
.business-overview__img-small {
  max-width: 100%;
  height: 12rem;
  width: 12rem;
  border-radius: 0.375rem;
  position: absolute;
  top: 200px;
  right: 0px;
  vertical-align: middle;
  overflow: clip;
  z-index: 2;
}
.business-overview__title {
  line-height: 1.5;
  margin-left: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 30px;
  color: black;
  padding: 0;
}
@media (max-width: 1024px) {
  .business-overview__title {
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  .business-overview__title {
    margin-left: 0;
    font-size: 24px;
  }
}
.business-overview__description {
  margin-left: 16px;
  max-width: 36rem;
  line-height: 1.625;
  font-size: 1rem;
  color: #94A3B8;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
  .business-overview__description {
    margin-left: 0;
  }
}
.business-overview__btn {
  line-height: 1.5rem;
  display: inline-block;
  margin-left: 16px;
  margin-top: 12px;
  vertical-align: middle;
  padding: 8px 20px;
  border: 1px solid;
  border-radius: 0.375rem;
  border-width: 1px;
  background-color: #4F46E5;
  color: #FFFFFF;
  letter-spacing: 0.025em;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
  font-size: 16px;
}
.business-overview__btn i {
  margin-left: 4px;
  font-size: xx-small;
  padding: 1px;
}
@media (max-width: 768px) {
  .business-overview__btn {
    margin-left: 0;
  }
}

.service-section {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 96px;
  width: 100%;
}
@media (max-width: 1120px) {
  .service-section {
    height: auto;
    width: 100%;
  }
}
.service-section__top {
  height: auto;
  text-align: center;
  padding-bottom: 32px;
}
.service-section__bot {
  margin-top: 32px;
  height: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 32px;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .service-section__bot {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service-section-top__subtitle {
  font-weight: 700;
  color: #5A46E5;
  font-size: 0.875rem;
  margin: 0 0 8px 0;
}
.service-section-top__title {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0 0 16px 0;
}
@media (max-width: 640px) {
  .service-section-top__title {
    font-size: 24px;
  }
}
.service-section-top__description {
  max-width: 36rem;
  line-height: 1.5;
  font-size: 16px;
  color: #94A3B8;
  padding: 0;
}
@media (max-width: 1120px) {
  .service-section-top__description {
    width: 100%;
  }
}

.service-section-bot__ctn {
  height: auto;
  text-align: center;
  grid-column: 1 span;
}
@media (max-width: 640px) {
  .service-section-bot__ctn {
    width: 100%;
  }
}
.service-section-bot__ctn-icon:hover i {
  color: #4F46E5;
}
.service-section-bot__ctn-icon:hover h4 {
  color: #4F46E5;
}
.service-section-bot__title {
  font-size: 1.25rem;
  color: #161C2D;
  font-weight: 600;
  margin: 20px 0 0 0;
}
.service-section-bot__description {
  margin-top: 16px;
  color: #94A3B8;
  line-height: 1.65;
  font-size: 1rem;
}
.service-section-bot__read-more {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  color: #161C2D;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.service-section-bot__read-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #5A46E5, #5A46E5, #5A46E5);
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out;
}
.service-section-bot__read-more:hover::before {
  width: 100%;
  color: #5A46E5;
}
.service-section-bot__read-more:hover {
  color: #5A46E5;
}
.service-section-bot__read-more:hover .custom-section-bot__icon {
  color: #5A46E5;
}
.service-section-bot__read-more:hover .custom-section-bot__title {
  color: #5A46E5;
}

.featured-content {
  height: 384px;
  margin-top: 0;
  width: 100%;
  position: relative;
  background-image: url("../images/team.jpg");
  background-size: cover;
  background-position: center -150px;
  text-align: center;
  display: flex;
}
@media (max-width: 1120px) {
  .featured-content {
    background-size: cover;
    background-position: center -5px;
  }
}
.featured-content__ctn {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: auto;
  justify-content: center;
  align-items: center;
}
.featured-content__title {
  grid-row: span 1;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: normal;
  z-index: 1;
  margin: 0 0 16px 0;
}
@media (max-width: 1120px) {
  .featured-content__title {
    top: 70px;
  }
}
@media (max-width: 768px) {
  .featured-content__title {
    font-size: 24px;
    margin: 0;
  }
}
.featured-content__description {
  grid-row: span 1;
  max-width: 38rem;
  line-height: 1.625rem;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  z-index: 1;
  line-height: 1.625rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1120px) {
  .featured-content__description {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-content__description {
    width: auto;
  }
}
.featured-content__circle {
  grid-row: span 2;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.featured-content__icon {
  font-size: 30px;
  color: #4F46E5;
}
.featured-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 23, 42, 0.7019607843);
  z-index: 0;
}

.pricing-plan {
  margin-top: 96px;
  height: auto;
  text-align: center;
}
.pricing-plan__title {
  color: #161C2D;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 768px) {
  .pricing-plan__title {
    font-size: 24px;
  }
}
.pricing-plan__description {
  max-width: 36rem;
  color: #94A3B8;
  font-size: 16px;
  line-height: 1.625;
  margin-left: auto;
  margin-right: auto;
}

.pricing-options {
  margin-top: 96px;
  height: auto;
  width: 100%;
}
.pricing-options__block {
  height: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 32px;
}
@media (max-width: 1024px) {
  .pricing-options__block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .pricing-options__block {
    grid-template-columns: repeat(1, 1fr);
  }
}
.pricing-options__item {
  position: relative;
  height: 100%;
  border-radius: 0.375rem;
  border-bottom: 3px solid #E5E7EB;
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  font-size: 1rem;
  line-height: 24px;
  grid-column: span 1;
}
.pricing-options__item:hover {
  transition: color 0.3s, border-bottom 0.3s, transform 0.3s;
  border-bottom: 2px solid #4F46E5;
  transform: scale(1.05);
}
.pricing-options__ctn {
  margin: 0;
  padding: 0;
  padding: 32px 24px;
}
@media (max-width: 640px) {
  .pricing-options__ctn {
    width: auto;
  }
}
.pricing-options__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: inherit;
  color: #4F46E5;
  line-height: 1.5;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .pricing-options__subtitle {
    width: 100%;
  }
}
.pricing-options__price {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  color: #161C2D;
  font-size: 36px;
  font-weight: normal;
}
@media (max-width: 640px) {
  .pricing-options__price {
    width: 100%;
  }
}
.pricing-options__feature {
  margin: 4px;
  color: #94A3B8;
  font-size: 16px;
}
@media (max-width: 640px) {
  .pricing-options__feature {
    width: 100%;
  }
}
.pricing-options__icon {
  font-size: 1rem;
  color: #4F46E5;
  margin-inline-end: 8px;
  line-height: 1.75rem;
}
.pricing-options__button {
  margin-top: 20px;
  vertical-align: middle;
  line-height: 24px;
  transition-duration: 500ms;
  background-color: #4F46E5;
  padding-top: 8px;
  padding-left: 24px;
  padding-bottom: 8px;
  padding-right: 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.375rem;
  color: #FFFFFF;
  border-width: 1px;
  border: 0;
  text-decoration: inherit;
  cursor: pointer;
}

.swiper {
  overflow: hidden;
  margin-top: 80px;
  height: 350px;
}
.swiper__block {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease;
  cursor: e-resize;
}
@media (max-width: 768px) {
  .swiper__block {
    width: auto;
    justify-content: first baseline;
  }
}
@media (max-width: 768px) {
  .swiper__ctn {
    width: 100px;
  }
}
.swiper__top {
  height: auto;
  padding: 24px;
  border-radius: 0.25rem;
  border: 1px solid rgb(229, 231, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;
}
.swiper__top::before {
  content: "";
  position: absolute;
  bottom: -7.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border-right: 1px solid #E5E7EB;
  border-bottom: 1px solid #E5E7EB;
  z-index: 2;
}
.swiper__icon-quote {
  font-size: 36px;
  color: #4F46E5;
}
.swiper__title {
  color: #94A3B8;
  font-size: 16px;
  margin: 0;
}
.swiper__five-star {
  padding: 0;
  list-style: none !important;
}
.swiper__item-star {
  display: inline-block;
}
.swiper__icon-star {
  color: gold;
  font-size: 12px;
}
.swiper__bot {
  height: 112px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.swiper__img {
  height: 56px;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9999px;
}
.swiper__name {
  font-size: 16px;
  font-weight: 600;
  cursor: e-resize;
  color: rgb(22, 28, 45);
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.swiper__position {
  color: #94A3B8;
  font-size: 14px;
  cursor: e-resize;
  margin-left: auto;
  margin-right: auto;
}
.swiper__prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.swiper__next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.button-slider {
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.button-slider__btn {
  height: 0;
  width: 0;
  margin: 4px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button-slider__btn {
  font-size: 13px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(45deg);
}

.swiper-pagination {
  width: 100px;
}
.swiper-pagination .span {
  color: red;
}

.swiper-pagination-bullet {
  background-color: #4F46E5 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 3px !important;
}

.swiper-pagination-bullet-active {
  background-color: #4F46E5 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 3px !important;
  transition: transform 0.5s;
  transform: rotate(45deg);
}

.latest-blogs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin-top: 96px;
}
@media (max-width: 768px) {
  .latest-blogs {
    flex-direction: column;
  }
}
.latest-blogs__ctn {
  grid-column: 6 span;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .latest-blogs__ctn {
    grid-column: 12 span;
  }
}
.latest-blogs__subtitle {
  display: flex;
  text-align: right;
  color: #4F46E5;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 0.5px;
}
@media (max-width: 640px) {
  .latest-blogs__subtitle {
    margin: 0 0 8px 0;
  }
}
.latest-blogs__title {
  font-weight: 600;
  color: #161C2D;
  font-size: 1.875rem;
  line-height: 1.5;
}
@media (max-width: 640px) {
  .latest-blogs__title {
    margin: 0 0 16px 0;
    font-size: 24px;
  }
}
.latest-blogs__description {
  max-width: 36rem;
  color: #94A3B8;
  font-size: 1rem;
  line-height: 1.5;
}

.featured-posts {
  margin-top: 32px;
  height: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 32px;
  padding-bottom: 96px;
}
@media (max-width: 1024px) {
  .featured-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .featured-posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .featured-posts {
    padding-bottom: 64px;
  }
}
.featured-posts__item {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0px solid #E5E7EB;
  border-radius: 0.375rem;
  grid-column: 1 span;
  --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15) !important;
  --tw-shadow-colored: 0 0 3px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow) !important;
}
.featured-posts__image {
  max-width: 100%;
  height: auto;
}
.featured-posts__ctn {
  padding: 24px;
}
.featured-posts__link {
  margin-top: 1 12px;
  font-size: 18px;
  color: #161C2D;
  line-height: 1.75em;
}
.featured-posts__description {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 16px;
  line-height: 1.625;
  color: #94A3B8;
}
.featured-posts__read-more {
  font-size: 16px;
  color: #161C2D;
  position: relative;
  letter-spacing: 0.025rem;
}
.featured-posts__read-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #5A46E5, #5A46E5, #5A46E5);
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out;
}
.featured-posts__read-more:hover::before {
  width: 100%;
  color: #5A46E5;
}
.featured-posts__read-more:hover {
  color: #4F46E5;
}
.featured-posts__read-more i {
  padding: 4px;
  font-size: 10px;
}

.footer {
  height: auto;
  background-color: #192132;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__company-info {
  grid-column: span 4;
}
@media (max-width: 1024px) {
  .footer__company-info {
    grid-column: span 12;
  }
}
.footer__logo {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 138px;
  margin: 0;
  padding: 0;
}
.footer__description {
  margin-top: 24px;
  line-height: 1.625;
  color: #D1D5DB;
  font-size: 16px;
}
@media (max-width: 640px) {
  .footer__description {
    margin-bottom: 24px;
  }
}
.footer__social-icons {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 4px;
}
@media (max-width: 1024px) {
  .footer__social-icons {
    flex-wrap: wrap;
    height: auto;
    gap: 0px;
  }
}
.footer__icon-wrapper {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  border: solid 1px rgb(34, 43, 67);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer__icon-wrapper {
    margin-right: 5px;
  }
}
.footer__icon-wrapper:hover {
  background-color: #4F46E5;
}
.footer__icon-logo {
  color: #FFFFFF;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.footer__company-links {
  line-height: 24px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .footer__company-links {
    grid-column: span 4;
  }
}
@media (max-width: 768px) {
  .footer__company-links {
    grid-column: span 12;
  }
}
.footer__useful-links {
  line-height: 24px;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .footer__useful-links {
    grid-column: span 4;
  }
}
@media (max-width: 768px) {
  .footer__useful-links {
    grid-column: span 12;
  }
}
.footer__title {
  margin: 0;
  color: #F3F4F6;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
  letter-spacing: 1px;
}
@media (max-width: 640px) {
  .footer__title {
    padding-bottom: 24px;
    margin-bottom: 0;
  }
}
.footer__link {
  margin-top: 10px;
  color: #D1D5DB;
  font-size: 16px;
  font-family: "Nunito", "sans-serif";
  line-height: 1.5rem;
  vertical-align: bottom;
}
.footer__link:hover {
  --tw-text-opacity: 1;
  color: rgb(156 163 175/var(--tw-text-opacity)) !important;
}
.footer__icon-arrow {
  margin-top: auto;
  margin-bottom: auto;
  font-size: x-small;
  padding: 5px;
  padding-right: 10px;
}
.footer__newsletter-section {
  line-height: 24px;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .footer__newsletter-section {
    grid-column: span 4;
  }
}
@media (max-width: 768px) {
  .footer__newsletter-section {
    grid-column: span 12;
  }
}

.newsletter-section__title {
  margin: 0;
  color: #F3F4F6;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
.newsletter-section__newsletter-description {
  color: #E5E7EB;
  font-size: 16px;
  line-height: 1.625;
}
.newsletter-section__email-label {
  color: #E5E7EB;
  font-size: 16px;
  margin-top: 12px;
  position: relative;
}
.newsletter-section__email-icon {
  color: red;
  font-size: 20px;
}
.newsletter-section__email-button {
  display: flex;
  margin-top: 12px;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  background-color: #1F2937;
  justify-content: left;
}
.newsletter-section__email-button i {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 10px;
}
.newsletter-section__subscribe-button {
  display: flex;
  margin-top: 12px;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  background-color: #4F46E5;
  justify-content: center;
}

.footer-bot {
  width: 100%;
  height: auto;
  display: flex;
  border-top: 1px solid rgb(30, 41, 59);
}
.footer-bot__block {
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 768px) {
  .footer-bot__block {
    flex-direction: column;
  }
}
.footer-bot__ctn {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media (max-width: 640px) {
  .footer-bot__ctn {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-bot__left {
  display: flex;
  justify-content: left;
}
@media (max-width: 768px) {
  .footer-bot__left {
    grid-column: span 2;
    justify-content: center;
  }
}
.footer-bot__title {
  font-size: 16px;
  width: 100%;
  color: #E5E7EB;
  line-height: 1.625;
}
.footer-bot__title i {
  color: red;
}
@media (max-width: 768px) {
  .footer-bot__title {
    width: -moz-max-content;
    width: max-content;
    margin-top: 0;
    margin-bottom: 24px;
  }
}
.footer-bot__right {
  display: flex;
  margin-top: 0px;
  justify-content: right;
  gap: 4px;
}
@media (max-width: 768px) {
  .footer-bot__right {
    grid-column: span 2;
    justify-content: center;
  }
}
.footer-bot__payment-logo {
  max-height: 1.5rem;
  display: inline;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.backtop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 36px;
  width: 36px;
  background-color: #5A46E5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.backtop i {
  color: #FFFFFF;
  font-size: 10px;
}

.backtop.show {
  opacity: 1;
}

.cookie-popup {
  max-width: 32rem;
  padding: 20px 24px;
  position: fixed;
  bottom: 0.75rem;
  background-color: #FFFFFF;
  opacity: 10;
  z-index: 9999;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  inset-inline-end: 12px;
  inset-inline-start: 12px;
  margin-left: auto;
  margin-right: auto;
}
.cookie-popup__text {
  --tw-text-opacity: 1 !important;
  color: rgb(148, 163, 184) !important;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 600;
}
.cookie-popup__link {
  color: rgb(5, 150, 105) !important;
  text-decoration: inherit;
}
.cookie-popup__btn {
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
.cookie-popup__btn i {
  color: rgb(60, 72, 88);
  font-size: 1.25rem;
}/*# sourceMappingURL=index-business.css.map */